__pycache__/
**/__pycache__/
ardupilot_logs/
data/
vehicle_logic.py
logs/

# ArduPilot/SITL state
eeprom.bin
**/eeprom.bin
eeprom*.bin

# Jupyter notebook autosaves
.ipynb_checkpoints/


# experimental code
1-auto_mode2.ipynb
test.*